#property-form {
  /* border: 1px solid rgb(230, 228, 228); */
  border-radius: 0.5rem;
  padding: 20px;
}

.form-container {
  display: flex;
  align-items: center;
}

#property-form div div div {
  display: flex;
  justify-content: flex-end;

}
.btn-primary {
  border-radius: 0.5em;
  background-color: rgb(33, 97, 200);
  padding: 10px;
}

@media(max-width: 500px){
  input[type="text"] {
    width: 8em;
  }
  
  input[type="number"] {
    width: 8em;
  }
}
