.property {
    border: 1px solid rgb(230, 228, 228);
    border-radius: 0.5rem;
    margin-bottom: 5px;
    padding: 20px;
    list-style: none;
    text-align: left;
}

ul {
    padding-left: 0;
}


h3 {
    font-size: 18px;
}

h2 {
    font-size: 24px;
}

.section-title {
    margin-top: 20px;
}

.btn-primary {
    border-radius: 0.5em;
    background-color: darkblue;
    padding: 10px;
}